* {
    box-sizing: border-box;
}

body {
    position: relative;
    display: block;
    background: url(images/squares.png) no-repeat bottom right;
    background-color: #1A1A1A;
    height: 98vh;
}

main {
    display: block;
    height: 100%;
}

.logo {
    display: inline-block;
    width: 100%;
    height: 85px;
}

.game {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    margin-left: 10px;
    line-height: 58px;
    color: #FFFFFF;
    opacity: 0.75;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

button {
    background-color: #1442EC;
    color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 20%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 0 40%;
}
