@font-face {
	font-family: OpenSans; 
	src: url(/fonts/OpenSans-VariableFont_wdth\,wght.ttf); 
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    display: block;
    background: url(images/squares.png) no-repeat bottom right;
    background-size: 20%;
    background-color: #1A1A1A;
    height: 100vh;
    margin: 0px;
    width: 100vw;
    justify-content: flex-start;
}

.main {
    display: block;
    height: 100%;
}

main {
    display: block;
    height: 100%;
    margin-left: 32px;
}

.logo {
    display: inline-block;
    margin-top: 32px;
}

.game {
    font-family: 'Helvetica';
    font-style: normal;
    font-stretch: semi-condensed;
    font-weight: 550;
    font-size: 33px;
    margin-left: 5px;
    line-height: 58px;
    color: #FFF;
    opacity: 0.65;
}

h1 {
    font-size: 4vw;
    font-family: OpenSans;
    margin-bottom: 7%;
}

.empty_input {
    width: 100%;
    font-size: 2vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

input[type=login], input[type=password] {
    width: 100%;
    height: 50px;
    font-size: 100%;
    padding: 5px 15px;
    margin: 15px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

button {
    background-color: #1442EC;
    background-image: linear-gradient(60deg, #1442EC 50%, #4B85EF 100%);
    color: white;
    font-size: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    height: 50px;
}

.container {
    text-align: center;
    color: white;
    padding: 0 35%;
    margin-top: 10vh;
}
