body {
    background: url(images/squares.png) no-repeat bottom right;
    background-size: 20%;
    background-color: #1A1A1A;
    color: #fff;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.main {
    display: grid;
    grid-template-rows: 120px auto;
    height: 100%;
    width: 100%;
}

.head {
    position: relative;
}

.logo {
    display: inline-block;
    margin-top: 32px;
    margin-left: 32px;
}

.lk {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-right: 32px;
    margin-top: 24px;
}

.lk-user {
    position: relative;
    font-size: 24px;
    display: inline-block;
    
}

.lk-user-count {
    display: inline-block;
}

.lk-name {
    display: block;
    /* vertical-align: top; */
    margin-right: 10px;
    margin-bottom: 10px;
}

.coin {
    display: flex;
    margin-bottom: 10px;
}

.count {
    display: inline-block;
    margin-bottom: 5px;
}

.coin-image {
    width: 44px;
    height: 25px;
}

.lk-avatar {
    display: inline-block;
}

.page {
    position: relative;
    display: block;
    background-color: #1A1A1A;
}

.all-tasks {
    position: absolute;
    right: 0;
    margin-right: 32px;
}

.tasks {
    display: block;
    margin-top: 64px;
    margin-left: 61px;
}

.tasks-bar {
    display: inline-block;
    width: 357px;
}

.tasks-complited {
    display: inline-block;
    vertical-align: top;
    width: 357px;
    padding-left: 100px;
}

.task-level {
    display: block;
    margin:auto;
}

.task-aria {
    background-color: #272727;
    border-radius: 25px;
    width: 425px;
    height: 80px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.tasks-complited-aria {
    display: block;
    background-color: #272727;
    border-radius: 25px;
    width: 425px;
    height: 228px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.task-comp {
    background-color: #fff;
    color: #000;
    width: 375px;
    height: 38px;
    margin: 20px auto;
    border-radius: 25px;
    text-align: center;
}