@font-face {
 font-family: 'OpenSans'; 
 src: url(/fonts/OpenSans-VariableFont_wdth\,wght.ttf); 
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    display: block;
    background: url(images/squares2.png) no-repeat bottom right;
    background-size: 20%;
    background-color: #FFFFFF;
    height: 100vh;
    margin: 0px;
    width: 100vw;
    justify-content: flex-start;
}z

.main {
    display: block;
    height: 100%;
}

main {
    display: block;
    height: 100%;
    margin-left: 32px;
}

.logo {
    display: inline-block;
    width: 100%;
    margin-top: 32px;
}

.game {
    font-family: 'Helvetica';
    font-style: normal;
    font-stretch: semi-condensed;
    font-weight: 550;
    font-size: 33px;
    margin-left: 5px;
    line-height: 58px;
    color: #1A1A1A;
    opacity: 0.65;
}

h1 {
    font-size: 4vw;
    font-family: 'OpenSans';
    margin-bottom: 7%;
}
.text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 39px;

    color: #ffffff;

}





.PublicButton {
    background-color: #1442EC;
    background-image: linear-gradient(60deg, #1442EC 50%, #4B85EF 100%);
    color:  #ffffff;
    font-family: 'Inter';
    font-style: normal;
    font-size: 100%;
    font-weight: 400;
    font-size: 22px;
    line-height: 39px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 31vw;
    height: 50px;
    margin-top: 3vh;
}


.container {
    text-align: center;
    color: #1A1A1A;
    padding: 0 35%;
    margin-top: 0vh;
    height: 100vh;
    width: 100vw;
}

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #1442EC;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 2vh;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input[type=header_task] {
    width: 100%;
    height: 50px;
    font-size: 100%;
    padding: 5px 15px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=description_task] {
    width: 100%;
    height: 200px;
    font-size: 100%;
    padding: 5px 15px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.gifs{
    display: block;
    margin-top: 8vh;
}


input[type=count_nft] {
    display: inline-block;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 40;
    font-size: 32px;
    text-align: center;
    line-height: 42px;
    vertical-align: top;
    margin-left: 0vw;
    width: 5vw;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    
    color: #070707;
    
    }
    
    .nft_img {
    display: inline-block;
    margin-left: 1vw;
    }
    
    input[type=count_coins]{
    display: inline-block;
    
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    font-weight: 40;
    font-size: 32px;
    
    line-height: 42px;
    vertical-align: top;
    margin-left: 1vw;
    width: 5vw;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    
    color: #070707;
    }
    
    
    .coin_img {
    
    display: inline-block;
    margin-left: 1vw;
    }
    
    .tags_button{
        display: block;
        margin-top: 3vh;
        
    }

button[type=tag_team], button[type=tag_individ]{
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
        background-color: #1442EC;
    background-image: linear-gradient(60deg, #1442EC 50%, #4B85EF 100%);
    color: #1A1A1A;
    font-size: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        width: 15vw;
        height: 4vw;

}